html, body {
  background-image: url('media/003.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat Alternates', sans-serif;
}

.c1 {
  height: 100vh; /*full screen*/
  font-weight: bold;
  color: white;
  text-align: left; /* horizontal alignment*/
}

.r1 {
  background-color: black;
  opacity: 0.80;
}

.nav-link {
  color: white;
}

.r2 {
  height: 100%; /*row takes height of its parent container*/
  align-items: center; /*vertical alignment*/
  background-color: black;
  opacity: 0.70;
}

.btn {
  font-weight: bold;
  margin-top: 2%;
}

.login-card{
  margin-top: 15%;
  background: none;
  /*background-color: rgba(0,0,0,0.5) !important;*/
}

.signup-card{
  margin-top: 1%;
  background: none;
  width: 90%;
  /*background-color: rgba(0,0,0,0.5) !important;*/
}

.input-group-prepend span{
  width: 40px;
  background-color: #007bff;
  color: white;
  border:0 !important;
}

.marketing-perm {
  font-size: 12px;
  font-weight: normal;
}
