body {
  font-family: 'Montserrat Alternates', sans-serif;
}

body::after {
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url('media/001.png') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c1 {
  height: 100vh; /*full screen*/
  font-weight: bold;
  color: white;
  text-align: left; /* horizontal alignment*/
}

.r1 {
  background-color: black;
  opacity: 0.60;
}

.nav-link {
  color: white;
}

.r2 {
  height: 100%; /*row takes height of its parent container*/
  /*align-items:flex-start; /*vertical alignment*/
  /*background-color: black;*/
  /*opacity: 0.70;*/
}

.header-panel {
  background: rgba(0,0,0,0.6); /*because opacity makes elements transparent too*/
  margin-top: 10%;
  padding: 10%;
  z-index: -1;
}

.login-panel {
  background: rgba(0,0,0,0.6); /*because opacity makes elements transparent too*/
  margin-top: 10%;
  /*padding: 10%;*/
  z-index: -1;
}

.signup-panel {
  background: rgba(0,0,0,0.6); /*because opacity makes elements transparent too*/
  margin-top: 10%;
  /*padding: 10%;*/
  z-index: -1;
}

.btn {
  font-weight: bold;
  margin-top: 2%;
}

.login-card{
  /*margin-top: 30%;*/
  margin: auto;
  background: none;
  background-color: rgba(0,0,0,0.6) !important;*/
}

.signup-card{
  /*margin-top: 30%;*/
  margin: auto;
  background: none;
  background-color: rgba(0,0,0,0.6) !important;*/
}

.input-group-prepend span{
  width: 40px;
  background-color: #007bff;
  color: white;
  border:0 !important;
}

.marketing-perm {
  font-size: 12px;
  font-weight: normal;
}
