html, body {
  background-image: url('media/main_bg.png');
  background-size: cover;
  font-family: 'Montserrat Alternates', sans-serif;
}

.c1 {
  height: 100vh; /*full screen*/
  font-weight: bold;
  color: white;
  text-align: left; /* horizontal alignment*/
}

.r1 {
  background-color: black;
  opacity: 0.80;
}

.nav-link {
  color: white;
}

.r2 {
  height: 70%; /*row takes height of its parent container*/
  align-items: center; /*vertical alignment*/
  background-color: black;
  opacity: 0.70;
}

.btn {
  font-weight: bold;
  margin-top: 5%;
}

.card{
  margin-top: 30%;
  margin-bottom: 30%;
  background-color: rgba(0,0,0,0.5) !important;
}

.input-group-prepend span{
width: 40px;
background-color: #007bff;
color: white;
border:0 !important;
}
